:root{
    --primary-color:rgb(216, 241, 241);
    --font-color: rgb(65, 70, 70);
    --text-color: black;
    --button-color: blueviolet;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--primary-color);
    text-align: center;
}

h1{
    color: var(--font-color);
    font-weight: 600;
}

p{
    color: var(--text-color);
}

form{

}

.search{
    padding: 8px 15px;
    background: var(--button-color);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 500;
}

.box{
    padding: 8px 15px;
    border-radius: 5px;
}